<header class="bg-info">
  <h2 class="py-3 px-3 font-weight-bold">
    <i class="fa fa-address-book-o" aria-hidden="true"></i>
    Contacts
  </h2>
</header>
<div class="bg-light">
  <div class="container w-50 px-3">
    <div class="row py-2">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <input type="text" class="form-control" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <button class="btn btn-success float-right">
          <i class="fa fa-plus"></i>
          New Contact
        </button>
      </div>
    </div>
    <div class="row mt-3 py-2">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="d-flex-column">
                  <h3>Name</h3>
                  <label>
                    <span class="text-muted">Phone number</span>
                  </label>
                  <label>
                    <span class="text-muted">email</span>
                  </label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="d-flex-row">
                  <button class="btn btn-light mr-1">
                    <i class="fa fa-trash-o"></i>
                    Delete
                  </button>
                  <button class="btn btn-danger">
                    <i class="fa fa-pencil-square-o"></i>
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container mt-4 w-50">
  <div class="row pl-5 py-2">
    <div class="col-lg-4 col-md-8 col-sm-6">
      <input type="text" class="form-control">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-4 col-md-3 col-sm-5">
      <button class="btn btn-success float-right">
        <i class="fa fa-plus" aria-hidden="true"></i>
        New Contact
      </button>
    </div>
  </div>
  <div class="row mt-2 pl-5 py-2">
    <div class="col-lg-9 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 mx-4">
              <div class="d-flex">
                <div class="d-flex-column">
                  <div>Name</div>
                  <div>Email</div>
                  <div>Phone</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-lg-1"></div>
            <div class="col-md-4 col-lg-4 col-sm-6 pl-3">
              <div class="row justify-content-end">
                <button class="btn btn-light">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  Delete
                </button>
                <button class="btn btn-danger">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Edit
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
